In [ ]:
import pandas as pd
dataset = pd.read_csv('./Advertising.csv')
dataset.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,1]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=100)

In [ ]:
from sklearn.linear_model import LinearRegression
mlr= LinearRegression()
mlr.fit(X_train,y_train)

LinearRegression()

In [ ]:
print('intercept:', mlr.intercept_)
print('Coefficients: ',mlr.coef_)
list(zip(X,mlr.coef_))

intercept: -2.842170943040401e-14
Coefficients:  [3.04422233e-16 1.00000000e+00 7.77156117e-16 0.00000000e+00]

[('Unnamed: 0', 3.04422233199241e-16),
 ('TV', 0.9999999999999999),
 ('Radio', 7.771561172376096e-16),
 ('Newspaper', 0.0)]

In [ ]:
y_pred_mlr = mlr.predict(X_test) 
print("prediction for test set:{}".format(y_pred_mlr))

prediction for test set:[  7.8 238.2 135.2 217.7 241.7 206.8 139.2 197.6 216.4 216.8 117.2 229.5
  56.2 187.8  87.2  94.2 149.7 170.2 163.5 112.9 214.7 129.4 195.4 177.
 184.9 220.3 219.8  75.3 184.9 123.1  68.4  69.  121.  188.4  50.  120.5
  97.2 168.4 222.4 193.2 215.4 175.7 164.5 218.5 120.2  89.7  16.9 248.8
  70.6  38.2 202.5 171.3  75.1 131.1 210.7  44.5  17.2  25.6 197.6  85.7]