In [ ]:
import pandas as pd
dataset = pd.read_csv("/content/Advertising.csv")
X=dataset.iloc[:,:-1]
Y=dataset.iloc[:,-1]
dataset.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=100)

In [ ]:
from sklearn.svm import SVR
re=SVR(kernel='linear')
re.fit(X_train, Y_train)
Y_pred=re.predict(X_test)

In [ ]:
diff = pd.DataFrame({'Actual value': Y_test, 'Predticted value': Y_pred})
diff.head()

     Actual value  Predticted value
126           6.6         11.284605
104          20.7         20.429229
99           17.2         17.405600
92           19.4         19.372775
111          21.8         21.353835